<% @bookmarks.each do |bookmark| %>
  <tr>
    <td>
      <%= link_to sauna_path(bookmark.sauna) do %>
        <%= image_tag bookmark.sauna.store_image, size: "200x200" %>
      <% end %>
    </td>
    <td>
      <%= link_to sauna_path(bookmark.sauna) do %>
        <%= bookmark.sauna.store_name %>
      <% end %>
    </td>
    <td>
      <%= bookmark.sauna.address %>
    </td>
    <td>
      <%= bookmark.sauna.business_hours %>
    </td>
  </tr>
<% end %>