<div class="container">
  <div class="row mb-3">
    <div class="col-3">
      <h3>サウナ一覧(全<%= @count %>件)</h3>
    </div>
    <div class="col-2 offset-7">
      <h3 class="corner-color"><%= link_to "新規登録", new_admin_sauna_path %></h3>
    </div>
  </div>


  <div class="row">
    <table class="col-12">
      <thead>
        <tr>
          <th>サウナID</th>
          <th>店名</th>
          <th>店舗画像</th>
          <th>電話番号</th>
          <th>住所</th>
          <th>評価</th>
        </tr>
      </thead>
      <tbody>
        <% @saunas.each do |sauna| %>
        <tr>
          <td><%= sauna.id %></td>
          <td><%= link_to sauna.store_name, admin_sauna_path(sauna.id)%></td>
          <td>
            <%= link_to admin_sauna_path(sauna.id) do %>
              <% if sauna.store_image.attached? %>
                <%= image_tag sauna.store_image, size: "70x50" %>
              <% else %>
                <%= image_tag 'no_image', size: "70x50" %>
              <% end %>
            <% end %>
          </td>
          <td><%= sauna.phone_number %></td>
          <td><%= sauna.address %></td>
          <td>
            <td>
              <% review_scores = sauna.reviews.pluck(:score) %>
              <% review_count = review_scores.count %>
              <% average = review_scores.sum.fdiv(review_count) %>
              <div class="row">
                <div id="score-rate<%= sauna.id %>">
                  <script>
                  $(document).on('turbolinks:load', function () {
                    $('#score-rate<%= sauna.id %>').empty();
                    $('#score-rate<%= sauna.id %>').raty({
                      size      : 36,
                      starOff   : '<%= asset_path('star-off.png') %>',
                      starOn    : '<%= asset_path('star-on.png') %>',
                      starHalf  : '<%= asset_path('star-half.png') %>',
                      half      : true,
                      readOnly: true,
                      score: <%= average.round(1) %>,
                    });
                  });
                  </script>
                </div>(<%= review_scores.any? ? "#{average.round(1)}点" : "まだレビューはありません" %>)
              </div>
            </td>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @saunas %>