<div class="container">
  <div class="row mb-3">
    <div class="col-3">
      <h3>口コミ一覧(全<%= @count %>件)</h3>
    </div>
  </div>

  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-6 mb-5">
        <div><%= link_to review.user.nickname, admin_user_path(review.user),class:"text-dark" %>　　<%= review.visit_day %></div>
        <div><%= link_to review.sauna.store_name, admin_sauna_path(review.sauna),class:"text-dark" %></div>
        <div>
          <%= link_to admin_sauna_path(review.sauna) do %>
            <% if review.sauna.store_image.attached? %>
              <%= image_tag review.sauna.store_image, size: "200x150" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x150" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <table class="col-6 mb-5">
        <tr>
          <th>口コミID</th>
          <td><%= review.id %></td>
        </tr>
        <tr>
          <th>タイトル</th>
          <td><%= review.headline %></td>
        </tr>
        <tr>
          <th>本文</th>
          <td><%= review.text %></td>
        </tr>
        <tr>
          <th>評価</th>
          <td id="score-rate<%= review.id %>">
            <script>
              $('#score-rate<%= review.id %>').empty();
              $('#score-rate<%= review.id %>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%= asset_path('star-half.png') %>',
                half      : false,
                readOnly: true,
                score: <%= review.score %>,
              });
            </script>
          </td>
        </tr>
        <tr>
          <th>
            <%= link_to "削除する", admin_review_path(review), method: :delete,"data-confirm" => "本当に消しますか？",class: "btn btn-danger" %>
          </th>
        </tr>
      </table>
    <% end %>
  </div>
</div>
<%= paginate @reviews %>