<div class="container" style="height: 500px">
  <div class="row">
    <div class="col-md-4">
      <% if @sauna.store_image.attached? %>
        <%= image_tag @sauna.store_image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <table>
        <tr>
          <td><%= @sauna.store_name %></td>
        </tr>
        <tr>
          <td><%= @sauna.phone_number %></td>
        </tr>
        <tr>
          <td><%= @sauna.address %></td>
        </tr>
        <tr>
          <td><%= @sauna.transportation %></td>
        </tr>
        <tr>
          <td><%= @sauna.business_hours %></td>
        </tr>
        <tr>
          <td><%= @sauna.regular_holiday %></td>
        </tr>
        <tr>
          <td><%= @sauna.homepage_link %></td>
        </tr>
      </table>
    </div>
  </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  口コミ投稿
</button>

<!-- Modal -->
<%= form_with model: [@sauna, @review], local: true do |f| %>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @sauna.store_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :タイトル %>
          <%= f.text_field :headline, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :本文 %>
          <%= f.text_area :text, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :訪問日 %>
          <%= f.date_select :visit_day, use_month_numbers: true,start_year: 2010, end_year: (Time.now.year), default: Date.new(2020, 1, 1) %>
        </div>
        <div class="form-group row" id="score">
          <%= f.label :score,'評価 ', class:'col-md-3 col-form-label' %>
        </div>
        <%= f.hidden_field :sauna_id, :value => @sauna.id %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= link_to "口コミ一覧", sauna_reviews_path(@sauna.id) %>

<script>
  $('#score').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'review[score]',
    half: true,

    readOnly: false,
  });
</script>