<div class="container">
  <div class="row">
    <div class="col-md-3 offset-4">
      <h3 class="my-3">口コミ編集</h3>
    </div>
  </div>

  <%= form_with(model:[@sauna,@review]) do |f| %>
    <div class="form-group row">
      <div class="col-sm-2 offset-sm-2">
        <%= f.label :タイトル %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :headline, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 offset-sm-2">
        <%= f.label :本文 %>
      </div>
      <div class="col-sm-4">
        <%= f.text_area :text, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 offset-sm-2">
        <%= f.label :訪問日 %>
      </div>
      <div class="col-sm-4">
        <%= f.date_select :visit_day, use_month_numbers: true,start_year: 2010, end_year: (Time.now.year), default: Date.new(2020, 1, 1) %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 offset-sm-2">
        <%= f.label :score,'評価 ', class:'col-md-3 col-form-label' %>
      </div>
      <div id="edit-comf-<%= @review.id %>"></div>
    </div>

    <div class="row">
      <%= f.submit '編集内容を保存',class: "btn btn-success col-md-2 offset-sm-3" %>
      <%= link_to '削除する', sauna_review_path,method: :delete,"data-confirm" => "本当に消しますか？",class: "btn btn-danger col-md-2 offset-sm-1" %>
    </div>

    <script>
      $('#edit-comf-<%= @review.id %>').empty();
      $('#edit-comf-<%= @review.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        half: false,
        score: <%= @review.score %>,
        scoreName: 'review[score]',
      });
    </script>
    <% end %>
</div>