<div class="container" style="height: 500px">
  <div class="row">
    <div class="col-md-11 offset-md-1 mb-3">
      <h3><%= @sauna.store_name %>の口コミ(全<%= @count %>件)</h3>
    </div>
  </div>
  <div class="row">
      <% @reviews.each do |review| %>
        <div class="col-md-4 offset-1 mb-4">
          <div><%= review.user.nickname %><%= " " %><%= Date.parse(review.created_at.to_s) %></div>
          <%= link_to user_path(review.user) do %>
            <% if review.user.profile_image.attached? %>
              <%= image_tag review.user.profile_image, size: "200x200" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-2 offset-1 mt-4">
          <div class="my-2">タイトル</div>
          <div class="my-2">本文</div>
          <div class="my-2">訪問日</div>
          <div class="my-2">評価</div>
          <% unless review.user_id == current_user.id %>
          <div class="my-2">いいね</div>
          <% end %>
        </div>
        <div class="col-md-3 mt-4">
          <div class="my-2"><%= review.headline %></div>
          <div class="my-2"><%= review.text %></div>
          <div class="my-2"><%= review.visit_day %></div>
          <div class="my-2" id="score-rate<%= review.id %>">
            <script>
              $('#score-rate<%= review.id %>').empty();
              $('#score-rate<%= review.id %>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%= asset_path('star-half.png') %>',
                half      : false,
                readOnly: true,
                score: <%= review.score %>,
              });
            </script>
          </div>
          <div class="my-2">
            <% unless review.user_id == current_user.id %>
              <% if review.liked_by?(current_user) %>
                   <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
                  <%= link_to sauna_likes_path(review_id: review.id, sauna_id: @sauna), method: :delete do %>
                      <span style="color:red;">❤︎</span>
                  <% end %>
              <% else %>
                   <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
                  <%= link_to sauna_likes_path(review_id: review.id, sauna_id: @sauna), method: :post do %>
                      <span>︎︎♡</span>
                  <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="my-2">
            <%# unless review.user_id == current_user.id %>
              <%= link_to "コメントする", sauna_review_path(id: review.id, sauna_id: @sauna) %>(<%= review.comments.count %>件)
            <%# end %>
          </div>
          <div class="my-2">
            <% if review.user_id == current_user.id %>
              <%= link_to '口コミを編集する', edit_sauna_review_path(review.sauna_id,review.id) %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
  <%= paginate @reviews %>