<div class="container">
  <div clss="row">
    <div class="col-md-12">
      <h1>口コミ</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3><%= @review.user.nickname %></h3>
      <h3><%= @review.headline %></h3>
      <h3><%= @review.text %></h3>
    </div>
  </div>
  <div class="row">
    <h2>コメント欄</h2>
    <div class="col-md-12">
      <% @comments.each do |comment| %>
        <div>
          <a href="/users/<%= comment.user.id %>"><%= comment.user.nickname %></a>
          <%= comment.comment %>
          <% unless comment.user_id == current_user.id %>
            <% if comment.comment_liked_by?(current_user) %>
                 <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
                <%= link_to sauna_review_comment_comment_like_path(sauna_id: @sauna, review_id: @review, comment_id: comment.id, id: comment.comment_likes.find_by(user_id: current_user.id).id ), method: :delete do %>
                    <span style="color:red;">❤︎</span>
                <% end %>
            <% else %>
                 <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
                <%= link_to sauna_review_comment_comment_likes_path(sauna_id: @sauna, review_id: @review, comment_id: comment.id ), method: :post do %>
                    <span>︎︎♡</span>
                <% end %>
            <% end %>
          <% end %>
          <% if comment.user_id == current_user.id %>
            <%= link_to '削除する', sauna_review_comment_path(review_id: @review, sauna_id: @sauna, id: comment.id),method: :delete,"data-confirm" => "本当に消しますか？",class: "btn btn-danger col-md-2 offset-sm-1" %>
          <% end %>
          <hr>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <%= form_with url: sauna_review_comments_path(@sauna, @review),local: true do |f| %>
      <div class="required">
        <%= f.text_field :comment %>
        <%= f.submit 'コメントする' %>
      </div>
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to "口コミ一覧に戻る", sauna_reviews_path(sauna_id: @sauna) %>
    </div>
  </div>
  <% if @comment.present? %>
    <% if @comment.errors.any? %>
      <%= @comment.errors.count %>件のエラーが発生しました
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <%= paginate @comments %>
</div>
