<div class="container">
  <div class="row mb-3">
    <div class="col-3">
      <h3>会員一覧(全<%= @count %>件)</h3>
    </div>
  </div>

  <div class="row">
    <table class="col-12">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ニックネーム</th>
          <th>プロフィール写真</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id  %></td>
          <td><%= link_to user.nickname, admin_user_path(user.id)%></td>
          <td>
            <%= link_to admin_user_path(user.id) do %>
            　<% if user.profile_image.attached? %>
                <%= image_tag user.profile_image, size: "70x50" %>
            　<% else %>
                <%= image_tag asset_path('no_image.jpg'), size: "70x50" %>
            　<% end %>
            <% end %>
          </td>
          <td><%= user.email %></td>
          <% if user.is_active == true %>
          <td>有効</td>
          <% else %>
          <td>退会</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @users %>