<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-1 mb-3">
      <h3><%= @user.nickname %>の保存済み(全<%= @count %>件)</h3>
    </div>
  </div>
  <div>
    <% @bookmarks.each do |bookmark| %>
    <table class="w-100">
      <tbody>
        <tr>
          <td class="table-image">
            <div class="m-3">
              <%= link_to sauna_path(bookmark.sauna) do %>
                <% if bookmark.sauna.store_image.attached? %>
                  <%= image_tag bookmark.sauna.store_image, size: "170x170" %>
                <% else %>
                  <%= image_tag 'no_image', size: "170x170" %>
                <% end %>
              <% end %>
            </div>
          </td>
          <td>
            <table class="w-100">
              <tbody>
                <tr>
                  <th class="table-head">店名</th>
                  <td>
                    <%= link_to sauna_path(bookmark.sauna) do %>
                      <%= bookmark.sauna.store_name %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th>住所</th>
                  <td><%= bookmark.sauna.address %></td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td><%= bookmark.sauna.business_hours %></td>
                </tr>
                <tr>
                  <th>お店の評価</th>
                  <td>
                    <% @average = 0 %>
                    <% bookmark.sauna.reviews.each do |review| %>
                      <% @average += (review.score / bookmark.sauna.reviews.count) %>
                    <% end %>
                      <div id="score-rate<%= bookmark.sauna.id%>">
                        <script>
                        $(document).on('turbolinks:load', function () {
                          $('#score-rate<%= bookmark.sauna.id %>').empty();
                          $('#score-rate<%= bookmark.sauna.id %>').raty({
                            size      : 36,
                            starOff   : '<%= asset_path('star-off.png') %>',
                            starOn    : '<%= asset_path('star-on.png') %>',
                            starHalf  : '<%= asset_path('star-half.png') %>',
                            half      : true,
                            readOnly: true,
                            score: <%= @average.round(1) %>,
                          });
                        });
                        </script>
                      </div>(<%= @average.round(1) %>点)
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<%= paginate @bookmarks %>