<div class="container" style="height: 500px">
  <div class="row">
    <div class="col-md-4 offset-md-1 mb-3">
      <h3><%= @user.nickname %>の口コミ(全<%= @reviews.count %>件)</h3>
    </div>
  </div>
  <div class="row">
      <% @reviews.each do |review| %>
        <div class="col-md-4 offset-1 mb-4">
          <div><%= review.sauna.store_name %></div>
          <%= link_to sauna_path(review.sauna.id) do %>
            <% if review.sauna.store_image.attached? %>
              <%= image_tag review.sauna.store_image, size: "170x170" %>
            <% else %>
              <%= image_tag 'no_image', size: "170x170" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-2 offset-1 mt-4">
          <div class="my-2">タイトル</div>
          <div class="my-2">本文</div>
          <div class="my-2">投稿日</div>
          <div class="my-2">評価</div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="my-2"><%= review.headline %></div>
          <div class="my-2"><%= review.text %></div>
          <div class="my-2"><%= Date.parse(review.created_at.to_s) %></div>
          <div class="my-2" id="score-rate<%= review.id%>">
            <script>
              $('#score-rate<%= review.id %>').empty();
              $('#score-rate<%= review.id %>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%= asset_path('star-half.png') %>',
                half      : false,
                readOnly: true,
                score: <%= review.score %>,
              });
            </script>

          </div>
          <div><%= link_to '口コミを編集する', edit_sauna_review_path(review.sauna_id,review.id) %></div>
        </div>
      <% end %>
  </div>
</div>
<!--<div>-->
<!--  <%#= paginate @items %>-->
<!--</div>-->