<div class="container" style="height: 500px">
  <div class="row my-3 row_profile">
    <div class="col-sm-3">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "250x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "250x200" %>
      <% end %>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <div class="nav-link text-dark">
        <h5><%= @user.nickname %></br>
        （<%= @user.birth_date %><%= @user.gender %>）</h5>
      </div>
      <div class="nav-link text-dark"><%= @user.self_introduction %></div>
    </div>
    <div class="col-sm-3">
      <ul style="list-style: none;">
        <li class="my-1">いいね数
           <!--変数を定義し、0を代入。-->
          <% @likes_count = 0 %>
           <!--countメソッドを使い、１つの投稿に結びつくイイねを予め定義しておいた@likes_countに足していく。-->
          <% @user_reviews.each do |review| %>
            <% @likes_count += review.likes.count %>
          <% end %>
          <%= @likes_count %>
        </li>
        <li class="my-1"><%= link_to "訪れたサウナ", user_visited_saunas_path(@user),class:"nav-link text-dark" %></li>
        <li class="my-1"><%= link_to "保存済み", user_hozon_saunas_path(@user),class:"nav-link text-dark" %></li>
        <li class="my-1"><%= link_to "レビュー済み", user_reviewed_saunas_path(@user),class:"nav-link text-dark" %></li>
        <% if @user == current_user %>
          <li class="my-1"><%= link_to "マイページ設定", edit_user_path,class:"nav-link text-dark" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row my-3">
    <div>
      <h3 class="font-weight-bold">おすすめサウナ</h3>
    </div>
  </div>