<div class="container" style="height: 500px">
  <div class="row my-3 row_profile">
    <div class="col-sm-3">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "250x250" %>
      <% else %>
        <%= image_tag 'no_image', size: "250x250" %>
      <% end %>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <div class="nav-link text-dark">
        <h5><%= @user.nickname %></br>
        （<%= @user.birth_date %><%= @user.gender %>）</h5>
      </div>
      <div class="nav-link text-dark"><%= @user.self_introduction %></div>
    </div>
    <div class="col-sm-3">
      <ul style="list-style: none;">
        <li class="my-1">いいね数</li>
        <li class="my-1"><%= link_to "訪れたサウナ", users_visited_saunas_index_path,class:"nav-link text-dark" %></li>
        <li class="my-1"><%= link_to "保存済み", users_hozon_saunas_index_path,class:"nav-link text-dark" %></li>
        <li class="my-1"><%= link_to "レビュー済み", users_reviewed_saunas_index_path,class:"nav-link text-dark" %></li>
        <li class="my-1"><%= link_to "マイページ設定", edit_user_path,class:"nav-link text-dark" %></li>
      </ul>
    </div>
  </div>

  <div class="row my-3">
    <div>
      <h3 class="font-weight-bold">おすすめサウナ</h3>
    </div>
  </div>