<!DOCTYPE html>
<html>
  <head>
    <title>SaunaPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to "マイページ", user_path(current_user),class:"nav-link" %>
          </li>
          <li>
            <%= link_to "訪れたサウナ", users_visited_saunas_index_path,class:"nav-link" %>
          </li>
          <li>
            <%= link_to "保存済み", users_hozon_saunas_index_path,class:"nav-link" %>
          </li>
          <li>
            <%= link_to "レビュー済み", users_reviewed_saunas_index_path,class:"nav-link" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"nav-link"  %>
          </li>
        </ul>
      <% elsif admin_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class:"nav-link"  %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to "about", about_path,class:"nav-link" %>
          </li>
          <li>
            <%= link_to "サウナ一覧", saunas_path,class:"nav-link" %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path,class:"nav-link" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path,class:"nav-link" %>
          </li>
        </ul>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>